.input {
    display: block;

    width: 304px;
    height: 24px;
    border: 1px solid #D6DCE9;
    border-radius: 4px;

    margin-top: 12px;
    margin-bottom: 12px;
    padding: 6px 12px;

    font-size: 14px;
    line-height: 19px;
    color: #6879BB;
    outline: none;
}
