.data{
    height: 208px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    flex-wrap: wrap;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #535374;
}
.firstData{
    align-self: center;
    font-family: Open Sans;
    font-size: 26px;
    line-height: 35px;
    margin: 0 15px;
}

.secondData{
    align-self: center;
    margin: 0 40px;
}

.form {
    margin: 6px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
    border-radius: 2px;

    border: 1px solid  #D6DCE9;

}
.nameBlock {
    border-bottom: 1px solid darkgray;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;

    display: flex;
    align-items: center;
    padding: 12px 24px;

    color: #6879BB;
}
.firstNumb {
    font-weight: bold;
    font-size: 28px;
    line-height: 35px;
}

.underNumb{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    color: #999999;
    align-self: center;
    margin-left: 59px;
    margin-right: 10px;    
    
}
.img {
    margin-right: 14px;
    width: 18px;
    height: 20px;
}
.procesTime{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.time{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.time span {
    font-size: 12px;
}

.content{
    grid-area: c;
    margin: 12px;
    margin-right: 6px;
    min-width: 60%;
}

.icon {
    
    margin:0 20px;
    margin-top: 2px;
}
.block2 {
    margin-top: 24px;
}